body {
    font: 20px Ariel, sans-serif;
}

.navbar {
    background-color: #B290DD;
}

.quem-somos {
    background-color: #DD90C8;
    color: white;

  
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: aquamarine;
}

.bg-footer  {
    background-color: black;
    color: white;
}